In [3]:
mydict = {'key1':'val1','key2':'val2'}

In [4]:
mydict

{'key1': 'val1', 'key2': 'val2'}

In [5]:
mydict['key1']

'val1'

In [6]:
mydict['key2']

'val2'

In [7]:
prices = {'apple':2.99}

In [8]:
prices['apple']

2.99

In [9]:
d= {'k1':123,'k2':[0,1,2]}

In [10]:
d['k2']

[0, 1, 2]

In [12]:
mylist = ['a','b','c']

In [13]:
mylist[2].upper(
)

'C'

In [14]:
dic = {'k1':100,'k2':200}

In [15]:
dic['k3'] = 300

In [16]:
dic

{'k1': 100, 'k2': 200, 'k3': 300}

In [17]:
dic['k1'] = 'new value'

In [18]:
dic

{'k1': 'new value', 'k2': 200, 'k3': 300}

In [19]:
dic.keys()

dict_keys(['k1', 'k2', 'k3'])

In [21]:
dic.values()

dict_values(['new value', 200, 300])

In [22]:
dic.items()

dict_items([('k1', 'new value'), ('k2', 200), ('k3', 300)])

In [23]:
t = (1,2,3)

In [24]:
mylist = [1,2,3]

In [25]:
type(t)

tuple

In [26]:
type(mylist)

list

In [27]:
len(t)

3

In [28]:
t

(1, 2, 3)

In [29]:
t= ('one',2)

In [30]:
t[0]

'one'

In [31]:
t[-1]

2

In [32]:
t = ('a','a','b')

In [33]:
t.count('a')

2

In [34]:
t.index('a')

0

In [35]:
t.index('b')

2

In [36]:
mylist[0] = 'new'

In [37]:
mylist

['new', 2, 3]

In [38]:
t[0]

'a'

In [39]:
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment

In [40]:
myset = set()

In [41]:
myset

set()

In [42]:
myset.add(1)

In [43]:
myset

{1}

In [44]:
myset.add(2)

In [45]:
myset

{1, 2}

In [46]:
myset.add(2)

In [47]:
myset

{1, 2}

In [48]:
mylist = [1,1,1,2,3,4,3,4]

In [49]:
set(mylist)

{1, 2, 3, 4}

In [50]:
True

True

In [51]:
False

False

In [52]:
type(True
    
    )

bool

In [53]:
1 > 2

False

In [54]:
1 == 2

False

In [55]:
1 == 1

True